@use "../../styles/variables" as *;
@use "../../styles/mixins" as mix;

.contactSection {
  @include mix.sectionLayoutDark;
  padding: 0;
  gap: 50px;
  background: $background-linear-blue;
  &__mapWrapper {
    flex: 1;
    min-width: 400px;
    min-height: 100%;
    position: relative;
    @media (max-width: 1024px) {
      width: 100%;
      height: 40vh;
    }
  }

  &__mapIframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }
  &__formWrapper {
    display: flex;
    flex-wrap: wrap;
    flex: 2;
  }
}
