@use "../../styles/variables" as *;
@use "../../styles/mixins" as mix;

.heroSection {
  position: fixed;
  top: 0;
  margin-top: 60px;
  display: flex;
  justify-content: center;
  max-height: 86.5vh;
  width: 100%;
 z-index: -1;
  &__slider {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
    @include mix.font-style-primary;
  }
}
