@use "../../styles/variables" as *;
@use "../../styles/mixins" as mix;

.heroSection {
  display: flex;
  justify-content: center;
  max-height: 85vh;
  width: 100%;
 
  &__slider {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
    @include mix.font-style-primary;
  }
}
