@use "../../styles/variables" as *;
@use "../../styles/mixins" as mix;

.leistungenSection {
  position: sticky;
  top: 60px;
  background: $background-linear-gray;
  @include mix.font-kanit;
  z-index: 2;
  &__articleWrapper {
    display: flex;
    justify-content: space-between;
  }
  &__article {
    max-width: 65%;
    @include mix.sectionLayoutDark;
    @media (max-width: 1024px) {
      max-width: 100%;
    }
  }
  &__title,
  &__text {
    @media (min-width: 1024px) {
      text-align: right;
    }
  }
  &__title {
    font-size: $title-font-size;
  }
  &__text {
    font-size: $paragraph-font-size;
    padding: clamp(0.9375rem, 0.7858rem + 0.6472vw, 1.5625rem) 0;
    @media (max-width: 1024) {
      font-size: 24px;
    }
  }
  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 3rem;
    padding-left: clamp(0.3125rem, -4.9211rem + 22.3301vw, 21.875rem);
    li {
      font-size: clamp(1rem, 0.8786rem + 0.5178vw, 1.5rem);
      font-weight: 300;
    }
  }
  &__imageWrapper {
    position: relative;
    width: 30%;
    @media (max-width: 1024px) {
      width: 100%;
      max-height: 400px;
      aspect-ratio: 1/0.5;
    }
  }
  &__img {
    object-fit: cover;
    object-position: center;
  }
}
