@use "../../styles/variables" as *;
@use "../../styles/mixins" as mix;

.leistungenSection {
  position: relative;
  width: 100%;
  background-color: $background-light;
  color: $color-font-md;
  background-color: #dddcdc;
  @include mix.font-kanit;
  &__articleWrapper {
    display: flex;
    justify-content: space-between;
    flex: 1;
  }
  &__article {
    padding: clamp(1.25rem, 0.7949rem + 1.9417vw, 3.125rem);
    padding-right: 70px;
    max-width: 65%;
    @media (max-width: 1250px) {
      max-width: 100%;
     
    }
  }
  &__title,
  &__text {
    text-align: right;
    @media (max-width: 1250px) {
        text-align: left;
    }
  }
  &__title {
    font-size: $title-font-size;
  }
  &__text {
    font-size: $paragraph-font-size;
    padding: clamp(0.9375rem, 0.7858rem + 0.6472vw, 1.5625rem) 0;
    @media (max-width: 1024) {
      font-size: 24px;
    }
  }
  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.2rem;
    column-gap: 3rem;
    padding: clamp(0.3125rem, 0.085rem + 0.9709vw, 1.25rem) clamp(0rem, -2.5789rem + 11.0032vw, 10.625rem) 0;
    transform: translateX(clamp(0rem, -2.7306rem + 11.6505vw, 11.25rem));
    list-style: circle;
    li {
        color: $color-font-li;
      font-size: clamp(1.125rem, 1.034rem + 0.3883vw, 1.5rem);
      font-weight: 300;
    }
    li::marker {
      font-size: 20px;
    }
  }
  &__imageWrapper {
  position: relative;
  width: 30%;
  aspect-ratio: 1 / 1.1; 
  overflow: hidden;

  @media (max-width: 1250px) {
    width: 100%;
    aspect-ratio: 1/0.5;
}
}

&__img {
  object-fit: cover;
  object-position: center; 
}
}
