@use "../../styles/variables" as *;
@use "../../styles/mixins" as mix;

.onlineTermineSection {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  &::before {
    position: absolute;
    content: "JDMW";
    top: clamp(-300px, calc(-35.6vw + 384.5px), 250px);
    left: -100px;
    opacity: 0.03;
    font-size: clamp(12.5rem, 3.3981rem + 38.835vw, 50rem);
    transform: rotate(290deg);
    color: rgb(88, 88, 134);
    z-index: - 1;
    @media (min-width: 768px) {
     
        transform: rotate(310deg);
      
    }
    @media (min-width: 1024px) {
      transform: rotate(325deg);
    }
    @media (min-width: 1440px) {
      transform: rotate(335deg);
    }
    @media (min-width: 1920px) {
      transform: rotate(345deg);
    }
  }
  @include mix.sectionLayoutLight;
  &__article {
    max-width: 58%;
    @media (max-width: 1024px) {
      min-width: 100%;
    }
  }
  &__title {
    font-size: $title-font-size;
  }
  &__subtitle {
    font-size: $subtitle-font-size;
  }
  &__text {
    font-size: $paragraph-font-size;
    @media (max-width: 1024px) {
      font-size: 20px;
    }
  }
  &__bookingWrapper {
    color: $color-font-md;
    width: 100%;
    min-width: 0;
    max-width: 500px;
    max-height: 500px;
    height: auto;
    padding: 10px;
    border-radius: 10px;
    overflow-y: auto;
    &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    border-radius: 8px;
    margin: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(81, 109, 151, 0.432);
    border-radius: 8px;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: rgba(29, 112, 236, 0.616);
  }
  }
}
