@use "../../../../styles/variables" as *;

.container {
  position: relative;
  padding: 0px clamp(0rem, -6.875rem + 22.9167vw, 20.625rem);
  font-family: 'Inter', sans-serif;
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 2rem;

   &__wrapper {
    background: #ffffff38;
    padding: clamp(3.75rem, 2.9167rem + 2.7778vw, 6.25rem) clamp(1.25rem, 0.7949rem + 1.9417vw, 3.125rem);
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: $background-header;
  }
}

.title {
  font-size: clamp(1.3rem, 1.0087rem + 1.2427vw, 2.5rem);
  font-weight: 800;
  line-height: 1.2;
  color: #fff; 
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 30px;
  z-index: 10;
}

.image {
  width: 100%;
  height: auto;
  border-radius: 12px;
  object-fit: cover;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin-bottom: clamp(-11.25rem, -5.4915rem + -3.2362vw, -11.375rem);

  &:hover {
    transform: scale(1.02);
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.35);
  }
}

.excerpt {
  margin-top: 50px;
  margin-left: 20px;
  font-size: 1.125rem;
  line-height: 1.8;
  color: #f0f0f0; 
  @media screen and (max-width: 480px) {
    margin-top: 20px;
  }
}

.content {
  margin-top: 20px;
  font-size: 1rem;
  line-height: 1.7;
  color: #eee; 
  display: flex;
  flex-direction: column;
  gap: 1rem;

  a {
    color: #ffd966;
    text-decoration: underline;
    transition: color 0.2s ease;

    &:hover {
      color: #ffb84d;
    }
  }

  strong {
    font-weight: 700;
  }

  em {
    font-style: italic;
  }

  h2, h3, h4 {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-weight: 700;
    color: #fff; // kontrastni naslovi
  }

  ul, ol {
    padding-left: 1.5rem;
    margin-bottom: 1rem;
  }

  blockquote {
    border-left: 4px solid #ffd966;
    padding-left: 1rem;
    color: #f0f0f0;
    font-style: italic;
    margin: 1rem 0;
  }
}


