.time-selector {
  text-align: center;
  color: rgb(104, 103, 103);
  &__slot-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
  &__column {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: clamp(1rem, 0.5066rem + 2.1053vw, 1.25rem);
  }
  &__slot {
    border: 1px solid rgba(0, 0, 0, 0.295);
    border-radius: 5px;
    box-shadow: inset -1.3 -1.5 0 0 black;
    transition: box-shadow 0.05s ease-in;
    cursor: pointer;
    
    &--selected {
      box-shadow: inset -0.5 -0.7 0 0 black;
      transform: scale(0.99) translate(0px, 1px);
      color: #FFFFFF;
      background-color: #0ebe65;
    }
  }
}
.time-selector__slot:not(.time-selector__slot--selected):hover {
    color: rgba(0, 80, 112, 0.616);
}
