@use "../../../styles/variables" as *;
@use "../../../styles/mixins" as mix;

.footerSection {
    user-select: none;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #FFF;
    width: 100%;
    bottom: fit-content;
    z-index: 3;
    @include mix.font-kanit(200);
    &__body {
        display: flex;
       
        flex-wrap: wrap;
        margin: 0 auto;
        justify-content: space-between;
        width: 80%;
    }
    &__wrapper {
        display: flex;
        
        justify-content: space-around;
        align-items: center;
        width: 50%;
        flex-wrap: wrap;
        margin: 0 auto;
        min-width: 250px;
    }
    
    &__article {
        display: flex;
        gap: 0.5rem;
        flex-direction: column;
        
        min-height: 200px;
        min-width: 250px;
        color: #333333b4;
        font-size: 18px;
        padding: 35px 0;
        @media (max-width: 748px) {
            border-bottom: 1px solid #33333349;
            justify-content: end;
        } 
    }
    &__article h6 {
        font-weight: 300;
        font-size: 20px;
        color: rgb(100, 100, 187);
    }
    &__article a {
        color: #333333b4;
        width: fit-content;
    }
    &__article a:hover {
        text-decoration: underline;
    }
    &__footer {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: space-between;
        align-items: center;
        padding: 5px clamp(2rem, -0.9507rem + 9.3897vw, 9rem);
        background: $background-linear-blue;
        color: #FFF;
        font-size: 14px;
        & p:first-child {
            font-size: 16px;
        }
        & a {
            color: #FFF;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}