* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: var(--font-kanit);
    overflow-x: hidden;
}

.flex-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 30px;
  width: 100px;
  padding: 5px 8px;
  clip-path: path('M0,0 L100,0 L80,100 Q50,120 20,100 Z');
  border-radius: 0 0 70px 70px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  
  span {
    display: block;
    background-color: #FFF;
    width: 50%;
    height: 2px;
    border-radius: 2px;
  }
}