* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: var(--font-kanit);
    overflow-x: hidden;
}

.flex-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: clamp(2.5rem, 1.9583rem + 2.3112vw, 3.4375rem);
  width: 120px;
  padding: clamp(0.9375rem, 0.5764rem + 1.5408vw, 1.5625rem) 8px 10px;
  clip-path: polygon(0 0, 100% 0, 85% 100%, 15% 100%);
  border-radius: 0 0 20px 20px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  
  span {
    display: block;
    background-color: #ffffff77;
    width: 50%;
    height: 2px;
    border: 1px solid rgba(63, 45, 45, 0.37);
    border-radius: 2px;
  }
}

.contact-links a {
  color: #FFFFFF;
  text-decoration: none;
}
.contact-links a:hover {
  text-decoration: underline;
}