@use "../styles/_animations" as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: var(--font-kanit);
    overflow-x: hidden;
    scroll-behavior: smooth;
}

main { 
  padding-top: clamp(1.875rem, 1.4199rem + 1.9417vw, 3.75rem);
}

.flex-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.flex-center {
  display: flex;
  align-items: center;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: clamp(1.875rem, 1.4199rem + 1.9417vw, 3.75rem);
  width: 120px;
  padding: clamp(0.9375rem, 0.5764rem + 1.5408vw, 1.5625rem) 10px 8px;
  clip-path: polygon(0 0, 100% 0, 85% 100%, 15% 100%);
  border-radius: 0 0 20px 20px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  
  span {
    display: block;
    background-color: #ffffffc5;
    width: 50%;
    height: 2px;
    border-radius: 2px;
  }
}

.contact-links a {
  color: #FFFFFF;
  text-decoration: none;
}
.contact-links a:hover {
  text-decoration: underline;
}
a {
  text-decoration: none;
}

.indent {
  padding-left: 25px;
}
