* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: var(--font-kanit);
    
}

.flex-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.gradient-text {
  background: linear-gradient(-45deg, #2363c4 30%, #063279);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent; 
}
