@use "../../../../styles/mixins" as *;

.adminTableWrapper {
  padding: 2rem;
  font-family: sans-serif;

  .title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }


  .tableWrapper {
    width: 100%;
    overflow-x: auto;
  }

  .table {
    width: 100%;
    min-width: 800px; 
    border-collapse: collapse;
    margin-bottom: 2rem;

    th, td {
      border: 1px solid #ddd;
      padding: 0.75rem;
      text-align: left;
    }

    .action {
      max-width: 140px;
      width: 100%;
      text-align: end;
    }

    th {
      background-color: #f3f3f3;
    }

    tr:nth-child(even) {
      background-color: #fafafa;
    }
  }

  .actionBtnWrapper {
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
  }

  .button {
    padding: 0.4rem 0.8rem;
    border-radius: 4px;
    font-weight: 600;
    cursor: pointer;
    border: none;
    color: #fff;
    transition: all 0.15s ease;

    &Confirm {
      @include btnPrimaryGreenTransparent;
    }

    &Reject {
     @include btnPrimaryRedTransparent;
    }

    &Delete {
      @include btnPrimaryRed;
    }
  }
}
