@use "../../../styles/variables" as *;
@use "../../../styles/mixins" as mix;

.adminPanel {
    background: $background-linear-gray;
    color: $color-font-light;
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2rem;
    }
    &__logoutBtn {
        @include mix.btnPrimaryBlueTransparent;
        color: $color-font-light;
    }
    
}