.calendar {
  display: grid;
  grid-template-rows: auto 1fr;
  max-width: 500px;
  width: 90%;
  margin: 0 auto;
  user-select: none;

  &__weekdays {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
    font-weight: 600;
    color: #6b7280; // siva
    margin-bottom: 0.5rem;
  }

  &__weekday {
    padding: 0.5rem 0;
  }

  &__body {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: clamp(0rem, -0.1214rem + 0.5178vw, 0.5rem);
  }

  &__cell {
    position: relative;
    text-align: center;
    padding: clamp(0.2rem, -0.3488rem + 2.3415vw, 0.5rem);
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.2s ease;
    font-weight: 500;
    color: #374151; 
    user-select: none;

    &:hover {
      background-color: #2564eb3a;
    }
  }

  &__cell--today {
    border: 2px solid #507ee2;; 
    color: #2563eb;
  }

  &__cell--selected {
    background-color: #2563eb;
    color: white;
    font-weight: 600;
    box-shadow: 0 4px 10px #2564eb3b;;
  }

  &__cell--empty {
    cursor: default;
    color: #d1d5db;
    background: none;
    pointer-events: none;
  }

  &__day {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    border-radius: 50%;
  }

  @media screen and (max-width: 1920px) {
    max-width: 500px;
  }

  @media screen and (max-width: 375px) {
    max-width: 350px;
    &__day {
      width: 1.8rem;
      height: 1.8rem;
      line-height: 1.8rem;
    }
  }

  .calendar__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
  padding: 0 0.5rem;
  font-weight: 600;
  color: #2b4a8b;
}

.calendar__month {
  font-size: 1.2rem;
}

.calendar__arrow {
  background: none;
  border: none;
  font-size: 1.4rem;
  cursor: pointer;
  color: #2563eb;
  transition: all 0.2s ease;

  &:hover {
    color: #2564eb93;
  }
}
}
