@use "../../../../../styles/variables" as *;
@use "../../../../../styles/mixins" as *;

.prozess {
    user-select: none;
  @include sectionLayoutDark;
  background: $background-header;

  &__title {
    @include font-kanit(600);
    font-size: $title-font-size;
    text-align: center;
    margin-bottom: 3rem;
  }

  &__steps {
    display: grid;
    gap: 2rem;
    max-width: 900px;
    margin: 0 auto;
  }

  &__step {
    display: flex;
    gap: 1.4rem;
    align-items: flex-start;
  }

  &__step-number {
    font-size: 2.5rem;
    font-weight: 700;
    color: $color-font-li;
  }

  &__step-text {
    font-size: $paragraph-font-size;
    opacity: 0.9;
  }
}
