@use "../../../../../styles/variables" as *;
@use "../../../../../styles/mixins" as *;

.stellen {
    user-select: none;
  @include sectionLayoutLight;

  &__title {
    @include font-kanit(600);
    font-size: $title-font-size;
    margin-bottom: 3rem;
    text-align: center;
  }

  &__grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 0.5rem;
  }

  &__card {
    display: flex;
    flex-direction: column;
    background: $background-light;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    max-width: 380px;
    min-width: 250px;
    @media (max-width: 1240px) {
        min-width: 100%;
    }
  }

  &__card-title {
    font-size: $subtitle-font-size;
    margin-bottom: 1rem;
  }

  &__card-text {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
  }

  &__btn {
    align-self: center;
    @include btnPrimaryBlue;
  }
}
