@use "../../../styles/mixins" as mix;
@use "../../../styles/variables" as *;

.netzwerkSection {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  @include mix.sectionLayoutDark;
  background: $background-linear-blue;
  &__textContent {
    position: relative;
    flex: 2;
    min-width: 370px;
    padding-bottom: clamp(2.5rem, 1.1347rem + 5.8252vw, 8.125rem);
    padding-right: 50px;
    padding-left: 20px;
    & h3 {
        font-size: $title-font-size;
    }
    & h4 {
        font-size: $subtitle-font-size;
        padding-bottom: 20px;
    }
    & p {
        font-size: $paragraph-font-size; 
       }
  }
}
