@use "../../../styles/variables" as *;
@use "../../../styles/mixins" as mix;

.contactSection {
  user-select: none;
  @include mix.sectionLayoutDark;
  padding: 0;
  gap: 50px;
  background: $background-linear-blue;
  z-index: 2;
  overflow: hidden;
  &__mapWrapper {
    flex: 1;
    
    min-height: 100%;
    position: relative;
    @media (max-width: 1024px) {
      min-width: 100%;
      height: 40vh;
    }
   }
   &__info {
    flex: 1;
    justify-content: center;
    margin: 0 auto;
    gap: 10px;
    
      padding: clamp(1.875rem, 0.8131rem + 4.5307vw, 6.25rem) 0;
    }
   &__contactInfo,
  &__openingHours {
    font-size: clamp(1.125rem, 1.0036rem + 0.5178vw, 1.625rem);
    padding: 40px 0;
    min-width: 100%; 
    text-align: center;
    font-size: clamp(1rem, 0.9393rem + 0.2589vw, 1.25rem);
    @media (min-width: 480px) {
      min-width: 375px;
    }
  }
  &__mapIframe {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
    & a {
      color: #000092;
      &:hover {
      text-decoration: underline;
      }
    }
  }
  &__formWrapper {
    display: flex;
    flex-wrap: wrap;
  
    flex: 2;
  }
  & a {
    color: #fff;            
  text-decoration: none;    
  transition: all 0.2s ease;

  &:hover {
    text-decoration: underline; 
  }
  }
}
