@use "../../../styles/variables" as *;
@use "../../../styles/mixins" as mix;

.handwerkOnlineSection {
  user-select: none;
  background: $background-linear-blue;
  @include mix.sectionLayoutDark;
  &__article {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    z-index: 2;
    max-width: 70%;
    h3 {
      font-size: $subtitle-font-size;
      color: #ffffff;
      margin-bottom: 20px;
    }
    @media (max-width: 1024px) {
      max-width: 100%;
    }
  }

  &__imageWrapper {
    position: absolute;
    overflow: visible;
    top: 30px;
    left: clamp(3.125rem, -11.2864rem + 61.4887vw, 62.5rem);
    width: 700px;
    aspect-ratio: 1.163/1;
    
    z-index: 1;
    opacity: 0.06;
  }
  &__title,
  &__text {
    @include mix.font-kanit;
  }
  &__title {
    font-size: $title-font-size;
  }
  &__text {
    padding: 20px 0;
    font-size: $paragraph-font-size;
    line-height: clamp(2rem, 1.7876rem + 0.9061vw, 2.875rem);
  }

}
