.overlay {
    font-size: clamp(1.75rem, 1.2646rem + 2.0712vw, 3.75rem);
    padding: clamp(1.25rem, 0.7949rem + 1.9417vw, 3.125rem);
    &::before {
        content: '';
        position: absolute;
        inset: 0;
        background: rgba(0, 0, 0, 0.397);
        z-index: - 1;
    }
}