@use "../../../styles/_animations" as *;

.slider {
  height: clamp(31.25rem, 26.699rem + 19.4175vw, 50rem);

  &__buttons {
    
    & button:first-of-type {
      opacity: 0.4;
      &:hover {
        opacity: 1;
      }
      width: 100px;
      background: transparent;
      height: 18px;
      position: relative;
      right: 100px;
      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        height: 2px;
        background: rgb(255, 255, 255);
        transform: translateY(-50%);
       
      }
      &::after {
        content: "";
        position: absolute;
        right: 0;
        top: 50%;
        width: 10px;
        height: 10px;
        border-top: 2px solid rgb(255, 255, 255);
        border-right: 2px solid rgb(255, 255, 255);
        transform: translateY(-50%) rotate(45deg);
        
      }
    }
    & button:last-of-type {
      opacity: 0.4;
      &:hover {
        opacity: 1;
      }
      background: transparent;
      width: 100px;
      height: 18px;
      position: relative;
      left: 100px;
      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        height: 2px;
        background: rgb(255, 255, 255);
        transform: translateY(-50%);
      }

      &::after {
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        width: 10px;
        height: 10px;
        border-top: 2px solid rgb(255, 255, 255);
        border-left: 2px solid rgb(255, 255, 255); // razlika
        transform: translateY(-50%) rotate(-45deg); // razlika
      }
      
    }

    @media (max-width: 480px) {
      display: none;
    }
    transition: opacity 0.2s ease-in-out;
    
  }

  &__activeSlide {
    animation: fadeIn 1s forwards;
  }
}

.sliderTimer {
  position: relative;
  top: 0;
  left: 0;
  height: clamp(0.3125rem, 0.2822rem + 0.1294vw, 0.4375rem);
  background-color: rgba(254, 255, 253, 0.493);
  z-index: 999;
}
