@keyframes slideLeft {
  0%,
  70% {
    transform: translateX(30px);
  }
  100% {
    transform: translateX(10px);
  }
}

@keyframes slideRight {
  0%,
  70% {
    transform: translateX(-50px);
  }
  100% {
    transform: translateX(-30px);
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(60px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes fadeInLogo {
  0%,
  40% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes heroMotion {
  0% {
    object-position: top left;
  }

  50% {
    object-position: center;
  }

  100% {
    object-position: bottom right;
  }
}

@keyframes activeLinkBlink {
  0% {
    box-shadow: -4 0 0 0 rgb(170, 228, 34);
  }
  40% {
    box-shadow: -4 0 0 0 rgb(170, 228, 34);
  }
  70%,
  100% {
    box-shadow: -4 0 0 rgba(170, 228, 34, 0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInLinks {
  0%,
  18% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideFade {
  
  0%, 10% {
     opacity: 0;
    transform: translateX(0);
    opacity: 0.7;
    
   
  }
  100% {
    opacity: 1;
    transform: translateX(var(--translateX, 0px));
    box-shadow: 2px 2px 25px 15px rgba(0, 0, 0, 0.24);
  }
}

@keyframes slideDurationTimer {
 from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
