// @keyframes slideLeft {
//   100% {
//     transform: translateX(-50px);
//   }
//   0%,
//   70% {
//     transform: translateX(30px);
//   }
// }

// @keyframes slideRight {
//   100% {
//     transform: translateX(90px);
//   }
//   0%,
//   70% {
//     transform: translateX(10px);
//   }
// }

// @keyframes slideUp {
//   0%,
//   70% {
//     transform: translateY(280px);
//   }
  
//   100% {
//     transform: translateY(0);
//   }
// }

// @keyframes fadeIn {
//   0%,
//   10% {
//     opacity: 0;
//   }
//   80%,
//   100% {
//     opacity: 1;
//   }
// }

// @keyframes fadeInH2 {
//   0%,
//   70% {
//     opacity: 0;
//   }
//   100% {
//     opacity: 0.7;
//   }
// }

@keyframes heroMotion {
  0% {
    object-position: top left;
    width: 150%;
    height: 150%;
    object-position: top right;
  }
  
  100% {
    object-position: top left;
  }
}

@keyframes activeLinkBlink {
    0% {
      box-shadow: -4 0 0 0 rgb(170, 228, 34);
    }
    40% {
      box-shadow: -4 0 0 0 rgb(170, 228, 34);
    }
    70%, 100% {
      box-shadow: -4 0 0 rgba(170, 228, 34, 0);
    }
}

@keyframes fadeIn {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInLinks {
  0%, 18% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
