@use "./variables" as *;

@mixin font-style-primary {
  font-family: var(--font-montserrat);
}

@mixin font-kanit($weight: 400) {
  font-family: var(--font-kanit);
  font-weight: $weight;
  line-height: 1.15;
}

@mixin sectionLayoutDark {
  position: relative;
  padding: $padding-section;
  color: $color-font-light;
  width: 100%;
  overflow: hidden;
  z-index: 1;
}

@mixin sectionLayoutLight {
  position: relative;
  padding: $padding-section;
  color: $color-font-md;
  width: 100%;
  overflow: hidden;
  z-index: 1;
}

@mixin btnPrimaryGreen {
  font-size: 18px;
  padding: 5px 8px;
  background-color: #0ebe65;
  color: #ffffff;
  border: 1px solid #2eab6d;
  border-radius: 5px;
  &:hover {
    background-color: #12c86e;
    border-color: #28b974;
  }
  &:active {
    background-color: #0aa354;
    border-color: #248c55;
  }
}
