
// Backgrounds
$background-header: linear-gradient(to right, rgb(21, 73, 150) 0%, rgb(0, 31, 80) 100%);
$background-light: #FFFFFF;
$background-linear-blue: linear-gradient(45deg, rgb(0, 40, 100) 0%, rgb(29, 112, 236) 100%);
$background-linear-gray: linear-gradient(
    to right,
    rgba(67, 94, 115, 1) 0%,
    rgba(168, 191, 209, 1) 100%
  );

// Font colors
$color-font-light: #FFFFFF;
$color-font-md: #333;
$color-font-li: #2363c4;

// Font sizes
$title-font-size: clamp(1.7rem, 1.4937rem + 0.8803vw, 2.55rem);
$subtitle-font-size: clamp(1.36rem, 1.19493rem + 0.704225vw, 2.04rem);
$paragraph-font-size: clamp(1rem, 0.8786rem + 0.5178vw, 1.5rem);
$li-font-size: clamp(0.95625rem, 2.579rem + 0.330055vw, 1.44925rem);

// Padding 
$padding-section: clamp(2.5rem, 1.5898rem + 3.8835vw, 6.25rem) clamp(1.25rem, 0.7949rem + 1.9417vw, 3.125rem) clamp(2.8125rem, 1.8265rem + 4.2071vw, 6.875rem);

// Heights
$header-height: 60px;

// Border Radius 
$form-border-radius: 5px;
