@use "../../../styles/variables" as *;

.gallery {
  display: flex;
  height: clamp(37.5rem, 35.2245rem + 9.7087vw, 46.875rem);
  overflow: hidden;
  @media (max-width: 1024px) {
    display: none;
  }
  &_modalWrapper {
    display: absolute;
    top: 20px;
    left: 50px;
  }
  &__column {
    flex: 1;
    overflow: hidden;
    position: relative;
    border-left: clamp(0.125rem, 0.0947rem + 0.1294vw, 0.25rem) solid
      rgba(0, 0, 0, 0.267);
    border-right: clamp(0.125rem, 0.0947rem + 0.1294vw, 0.25rem) solid
      rgba(0, 0, 0, 0.267);
  }

  &__inner {
    display: flex;
    flex-direction: column;
    gap: 0;
  }

  &__card {
    overflow: hidden;
    position: relative;
    flex: 1 0 auto;
    cursor: pointer;
    aspect-ratio: 1/1;
    background-size: cover;
    background-position: center;
    border-top: clamp(0.125rem, 0.0947rem + 0.1294vw, 0.25rem) solid
      rgba(0, 0, 0, 0.267);
    border-bottom: clamp(0.125rem, 0.0947rem + 0.1294vw, 0.25rem) solid
      rgba(0, 0, 0, 0.267);
      ::before {
        position: absolute;
        inset: 0;
        content: '';
        background: rgba(33, 48, 250, 0.171);
      }
      &:hover {
        ::before {
        position: absolute;
        inset: 0;
        content: '';
        background: rgba(255, 255, 255, 0);
      }
      }
  }

  &__cardTitle {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px 15px;
    font-size: $paragraph-font-size;
    background: rgba(0, 0, 0, 0.4);
    color: #fff;
    opacity: 0;
    transition: opacity 0.3s;
    @media (max-width: 768px) {
      opacity: 1;
    }

    .gallery__card:hover & {
      opacity: 1;
    }
  }
}

.gallerySmall {
  display: flex;
  height: clamp(25rem, 20.449rem + 19.4175vw, 43.75rem);
  overflow: hidden;
  @media (min-width: 1025px) {
    display: none;
  }
}
