.modal {
  
  &__content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) !important;
    background: #fff;
    border: 4px solid rgba(0, 0, 0, 0.685);
    border-radius: 8px;
    width: clamp(22.5rem, 12.7913rem + 41.4239vw, 62.5rem);
    height: 80%;
    z-index: 4;
    &::before {
      position: absolute;
      content: "";
      inset: 0;
      min-width: 200vw;
      min-height: 200vh;
      transform: translate(-23%, -10%);
      background: rgba(0, 0, 0, 0.808);
      z-index: -1;
    }
  }

  &__close {
    position: absolute;
    top: 10px;
    right: 10px;
    background: rgba(0, 0, 0, 0.548);
    border: none;
    color: #FFF;
    width: 35px;
    font-size: 32px;
    cursor: pointer;
    z-index: 2;
  }

  &__image {
    width: 100%;
    border-radius: 2px;
  }
  &__textContent {
    display: flex;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.623);
    color: #FFF;
    position: relative;
    top: 60%;
    left: 0;
    height: 40%;
    padding: 20px;
    overflow-y: auto;
  }

  &__title {
    align-self: flex-end;
    margin-top: 15px;
    font-size: 24px;
  }

  &__text {
    margin-top: 10px;
    font-size: 16px;
  }
}