@use "../../../styles/variables" as *;
@use "../../../styles/_animations" as *;

.mobileMenu {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  top: 0px;
  right: 0;
  width: 100%;
  background: $background-header;
  padding: 70px 0 20px;
  height: 550px;
  z-index: 15;
  transition: top 0.5s ease;
    &::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: calc(50% - 60px); 
  height: 5px;             
  background: linear-gradient(transparent, rgba(24, 25, 80, 0.705));
}
  &::before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: calc(50% - 60px);
  height: 5px;
  background: linear-gradient(transparent, rgb(11, 12, 70));
  
}
  @media (min-width: 1025px) {
    display: none;
  }
  &--open {
    top: 0;
    z-index: 5;
  }
  &__hamburgerBtn {
    background: linear-gradient(to right, #0e3a7d 0%, #072e69 100%);
    border: none;
    top: 550px;
    z-index: 1;
    box-shadow: inset 0 -3px 2px 0 rgba(37, 37, 88, 0.74);
  }
  &__hamburgerBtn::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 12px; 
  height: 100%;             
  transform: skew(-24deg);             
  background: linear-gradient(100deg, transparent, rgb(12, 12, 41));
}
&__hamburgerBtn::before{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 12px; 
  height: 100%;
  transform: skew(24deg);             
  background: linear-gradient(100deg, transparent, rgba(64, 75, 124, 0.671));
}

  &__mobileLink {
    display: block;
    padding: 0 10px;
    color: #fff;
    text-decoration: none;
    font-size: 22px;
    line-height: 16px;
    animation: fadeInLinks 1.5s forwards;
    &--active {
      animation: activeLinkBlink 1.35s linear 1s infinite,
        fadeInLinks 1.5s forwards;
    }
    &:hover {
      color: #ffffffad;
    }
  }
}

.overlay {
  &--active {
    position: fixed;
    inset: 0;
    background: rgba(10, 20, 10, 0.781);
    z-index: 4;
  }
}
