@use "../../../styles/variables" as *;
@use "../../../styles/_animations" as *;

.mobileMenu {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  top: -550px;
  right: 0;
  width: 100%;
  background: $background-header;
  padding: 70px 0 20px;
  height: 550px;
  z-index: 15;
  transition: top 0.5s ease;
  @media (min-width: 1025px) {
    display: none;
  }
  &--open {
    top: -50px;
    z-index: 5;
  }
  &__hamburgerBtn {
    background: linear-gradient(to right, #0d3a7c 0%, #082f6a 100%);
    border: none;
    top: 550px;
    z-index: 1;
  }
  &__overlay--active {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.7);
  }

  &__mobileLink {
    display: block;
    padding: 0 10px;
    color: #fff;
    text-decoration: none;
    font-size: 22px;
    line-height: 16px;
    animation: fadeInLinks 2.5s forwards;
    &--active {
      animation: activeLinkBlink 1.35s linear infinite,
        fadeInLinks 2.5s forwards;
    }
    &:hover {
      color: #ffffffad;
    }
  }
}

.overlay {
  &--active {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.75);
    z-index: 4;
  }
}
