@use "../../../styles/variables" as *;
@use "../../../styles/_animations" as *;

.navbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  font-family: var(--font-montserrat);
  font-weight: 300;
  padding-left: clamp(1.25rem, 0.1666rem + 4.6225vw, 3.125rem);

  &__content {
    height: clamp(1.875rem, 1.4199rem + 1.9417vw, 3.75rem);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    display: flex;
    align-items: center;
    text-decoration: none;
  }

  &__logoContainer {
    display: flex;
    align-items: center;
  }

  &__logoImage {
    position: relative;
    width: clamp(6.25rem, 5.4915rem + 3.2362vw, 9.375rem);
    height: $header-height;
  }

  &__links {
    display: flex;
    gap: 1rem;
    font-weight: 500;
    font-size: 16px;
    @media (max-width: 1024px) {
      display: none;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: opacity 0.2s;
    color: $color-font-light;
    min-height: 20px;
    padding: 0 7px;
    transition: 0.17s;

    &:hover {
      color: #ffffffad;
    }

    &--active {
      animation: activeLinkBlink 1.35s linear infinite;
    }
  }

  &__contactSvgs {
    @media (max-width: 1024px) {
      display: none;
    }
  }
}


