@use "../../../styles/variables" as *;
@use "../../../styles/_animations" as *;

.navbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  height: 60px;
  padding-left: clamp(2.5rem, 1.8932rem + 2.589vw, 5rem);
  font-family: var(--font-montserrat);
  
  font-weight: 300;
  
  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    display: flex;
    align-items: center;
    text-decoration: none;
  }

  &__logoContainer {
    display: flex;
    align-items: center;
  }

  &__logoImage {
    position: relative;
    width: 150px;
    aspect-ratio: 1/1;
  }

  &__links {
    display: flex;
    gap: 1rem;
    transform: translateX(clamp(6.25rem, 7.767rem + -6.4725vw, 0rem));
    font-weight: 500;
    font-size: 16px;
    @media (max-width: 1024px) {
      display: none;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: opacity 0.2s;
    color: $color-font-light;
    min-height: 20px;
    padding: 0 7px;
    transition: 0.17s;

    &:hover {
      color: #ffffffad;
    }

    &--active {
      animation: activeLinkBlink 1.35s linear infinite;
      
    }
  }

  &__contactSvgs {
        @media (max-width: 1024px) {
            display: none;
        }
    }

  &__hamburger {
    background: transparent;
    border: none;
    color: $color-font-light;
    @media (min-width: 1025px) {
      display: none;
    }
  }

  &__overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.7);
  }

  &__mobileMenu {
    position: fixed;
    top: 0;
    right: 0;
    width: 75%;
    height: 100vh;
    background: white;
    padding: 2rem;
  }

  &__closeBtn {
    background: transparent;
    border: none;
    position: fixed;
    top: 3px;
    right: 10px;
  }

  &__mobileLink {
    display: block;
    padding: 1rem 2rem;
  }
}
