@use "../../../styles/variables" as *;
@use "../../../styles/_animations" as *;

.navbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  font-family: var(--font-montserrat);
  font-weight: 300;
  padding-left: clamp(0rem, -1.3204rem + 5.6338vw, 3.75rem);

  &__content {
    height: clamp(1.875rem, 1.4199rem + 1.9417vw, 3.75rem);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    display: flex;
    align-items: center;
    text-decoration: none;
  }

  &__logoContainer {
    display: flex;
    align-items: center;
  }

  &__logoImage {
    display: flex;
    justify-content: center;
    width: clamp(8.125rem, 6.7597rem + 5.8252vw, 13.75rem);
    position: relative;
    &--left {
      position: relative;
      width: clamp(5rem, 5.3034rem + -1.2945vw, 3.75rem);
    aspect-ratio: 4.462 / 1;
    left: -4px;
    animation: slideLeft 2s linear forwards, fadeInLogo 3.3s forwards;
    }
    &--mid {
      position: relative;
      width: clamp(3.75rem, 3.4466rem + 1.2945vw, 5rem);
      opacity: 0;
    aspect-ratio: 1.701 / 1;
    animation: fadeInLogo 5s linear forwards, slideUp 4s forwards;
    }
    &--right {
      position: relative;
      width: clamp(5rem, 5.3034rem + -1.2945vw, 3.75rem);
      left: 22px;
      top: 0.8px;
      aspect-ratio: 4.462 / 1;
      animation: slideRight 2s linear forwards, fadeInLogo 3.3s forwards;
    }
  }

  &__links {
    display: flex;
    gap: 1rem;
    font-weight: 500;
    font-size: 16px;
    @media (max-width: 1024px) {
      display: none;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: opacity 0.2s;
    color: $color-font-light;
    min-height: 20px;
    padding: 0 7px;
    transition: 0.17s;

    &:hover {
      color: #ffffffad;
    }

    &--active {
      animation: activeLinkBlink 1.35s linear infinite;
    }
  }

  &__contactSvgs {
    @media (max-width: 1024px) {
      display: none;
    }
  }
}


