@use "../../../../../styles/variables" as *;

.calendar {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  font-family: sans-serif;
}

.calendar__weekdays {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
  margin-bottom: 5px;
  font-weight: bold;
  color: rgb(104, 103, 103);
}

.calendar__weekday {
  padding: 5px 0;
}

.calendar__body {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  column-gap: clamp(0.75rem, 0.3799rem + 1.5789vw, 0.9375rem);
  row-gap: 10px;
  padding-left: clamp(0.125rem, -1.1086rem + 5.2632vw, 0.75rem);
}

.calendar__cell {
  display: flex;
  justify-content: center;
  align-items: center;
  width: clamp(1.875rem, 0.6414rem + 5.2632vw, 2.5rem);
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  color: rgb(104, 103, 103);
  font-size: clamp(1.125rem, 1.034rem + 0.3883vw, 1.5rem);
  cursor: pointer;
}

.calendar__cell:not(.calendar__cell--empty):not(.calendar__cell--selected):hover {
background: radial-gradient(circle,rgba(14, 190, 102, 0.322) 0%, rgba(255, 255, 255, 0) 70%);
color: rgb(153, 153, 153);
transition: background-color 0.2s ease-in-out;
}

.calendar__cell--empty {
    color: rgb(219, 219, 219);
  cursor: default;
}

.calendar__cell--selected {
  background: radial-gradient(circle,rgba(14, 190, 101, 1) 0%, rgba(255, 255, 255, 0) 100%);
  color: #FFFFFF;
  transition: background-color 0.3s ease-in-out;
  
}

.calendar__day {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
