@use "../../../styles/variables" as *;
@use "../../../styles/mixins" as mix;

.cookiesPage {
  @include mix.sectionLayoutLight;
  display: flex;
  justify-content: center;
  padding-top: clamp(3rem, 2vw + 2rem, 6rem);

  &__content {
    max-width: 820px;
    width: 100%;
    padding: 0 1rem;
  }

  &__header {
    margin-bottom: 2rem;
  }

  &__title {
    @include mix.font-kanit(600);
    font-size: clamp(1.8rem, 1.4rem + 0.9vw, 2.6rem);
    margin-bottom: 0.5rem;
    color: $color-font-md;
  }

  &__intro {
    @include mix.font-kanit;
    font-size: calc($paragraph-font-size * 0.9);
    color: $color-font-md;
    opacity: 0.85;
  }

  &__section {
    margin-top: 2.5rem;
  }

  &__subtitle {
    @include mix.font-kanit(500);
    font-size: clamp(1.3rem, 1.1rem + 0.6vw, 1.8rem);
    margin-bottom: 0.6rem;
    color: $color-font-md;
  }

  &__text {
    @include mix.font-kanit;
    font-size: calc($paragraph-font-size * 0.85);
    line-height: 1.7;
    color: $color-font-md;
  }

  &__buttons {
    margin-top: 2.5rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }

  &__btnPrimary {
    @include mix.btnPrimaryBlue;
    text-decoration: none;
    text-align: center;
  }

  &__btnSecondary {
    @include mix.btnPrimaryBlueTransparent;
    color: $color-font-li;
  }

  &__resetInfo {
    margin-top: 1rem;
    font-size: calc($paragraph-font-size * 0.8);
    font-style: italic;
    color: $color-font-md;
  }
}
