@use "../../styles/variables" as *;
@use "../../styles/mixins" as mix;

.contactForm {
  display: flex;
  flex-direction: column;
  gap: clamp(1rem, 1vw, 1.5rem);
  max-width: 600px;
  min-width: 350px;
  margin: 0 auto;
  padding: 0 clamp(0.8rem, 2vw, 2rem) 0 clamp(1.5rem, 2vw, 2rem);
  border-radius: 12px;

  &__title {
    font-size: clamp(1.5rem, 2vw, 2rem);
    margin-bottom: clamp(1rem, 1.5vw, 2rem);
    text-align: center;
    color: #8a8989;
  }

  &__input,
  &__textarea {
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 3px solid #8a8989;
    padding: 0.5em;
    font-size: clamp(1rem, 1vw, 1.25rem);
    transition: border-color 0.3s;
    color: #FFFFFF;

    &:focus {
      outline: none;
      border-color: rgb(43, 135, 255);
    }
  }

  &__textarea {
    resize: vertical;
    min-height: 120px;
  }

  &__checkboxLabel {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    font-size: clamp(0.875rem, 0.9vw, 1rem);
    line-height: 1.4;
    cursor: pointer;
  }

  &__checkbox {
    opacity: 0;
    position: absolute;
  }

  &__checkboxCustom {
    min-width: 25px;
    min-height: 25px;
    border: 2px solid #ccc;
    border-radius: 4px;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      top: 2px;
      left: 6px;
      width: 6px;
      height: 12px;
      border-right: 2px solid rgb(255, 255, 255);
      border-bottom: 2px solid rgb(255, 255, 255);
      transform: rotate(45deg);
      opacity: 0;
    }
  }

  &__checkbox:checked + &__checkboxCustom::after {
    opacity: 1;
  }

  &__error {
    color: red;
    font-size: clamp(0.875rem, 0.9vw, 1rem);
  }

  &__submit {
    @include mix.btnPrimaryBlueTransparent;
    color: #FFFFFF;
  }
}
